<%= link_to t(:return).capitalize, root_path %>

<h2>Dashboard</h2>

<p><%= link_to t(:personal_infos), personal_infos_path %></p>
<p><%= link_to t(:academic_infos), academic_infos_path %></p>
<p><%= link_to t(:courses).capitalize, courses_path %></p>

<%= link_to 'Sair', destroy_admin_session_path, method: :delete %>
