<p><%= link_to t(:return).capitalize, personal_infos_path %></p>

<h3><%= t(:edit_personal_infos).capitalize %></h3>

<% if @personal_info.errors.any? %>
  <% @personal_info.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_with model: @personal_info, local: true do |f| %>

  <%= f.label :name, t(:name).capitalize %>
  <%= f.text_field :name %>

  <%= f.label :address, t(:address).capitalize %>
  <%= f.text_field :address %>

  <%= f.label :fone, t(:telephone).capitalize %>
  <%= f.telephone_field :fone %>

  <%= f.label :email, t(:email).capitalize %>
  <%= f.email_field :email %>

  <%= f.label :links, t(:social_networks).capitalize %>
  <%= f.url_field :links %>

    <%= f.label :link_git, t(:link_git).capitalize %>
  <%= f.url_field :link_git %>

    <%= f.label :link_site, t(:link_site).capitalize %>
  <%= f.url_field :link_site %>

  <%= f.label :goals, t(:goals).capitalize %>
  <%= f.text_field :goals %>

  <%= f.submit "Salvar" %>
<% end %>