<p><%= link_to t(:return).capitalize, personal_infos_path %></p>

<h5><%= t(:data_add).capitalize %></h5>

<p><%= @personal_info.name %></p>
<p><%= @personal_info.address %></p>
<p><%= @personal_info.fone %></p>
<p><%= @personal_info.email %></p>
<p><%= @personal_info.links %></p>
<p><%= @personal_info.goals %></p>