<% if admin_signed_in? %>
  <p><%= link_to t(:dashboard).capitalize, dashboard_index_path %></p>
<% else %>
  <p><%= link_to t(:login).capitalize, dashboard_index_path %></p>
<% end %>

<h2><%= t(:resume).capitalize %></h2>

<p><%= link_to t(:personal_infos), personal_infos_path %></p>
<p><%= link_to t(:academic_infos), academic_infos_path %></p>
<p><%= link_to t(:courses), courses_path %></p>
<p><%= link_to t(:experiences), experiences_path %></p>
<p><%= link_to t(:skills), skills_path %></p>
<p><%= link_to t(:projects), projects_path %></p>