<p><%= link_to t(:return).capitalize, projects_path %></p>

<h5><%= t(:data_add).capitalize %></h5>

<p><%= @project.name_project %></p>
<p><%= @project.description_project %></p>
<p><%= @project.link_project %></p>
<p><%= image_tag(@project.img_project) %></p>