<p><%= link_to t(:return).capitalize, experiences_path %></p>

<h5><%= t(:data_add).capitalize %></h5>

<p><%= @experience.occupation %></p>
<p><%= @experience.description_occupation %></p>
<p><%= @experience.company %></p>
<p><%= @experience.start_experience %></p>
<p><%= @experience.end_experience %></p>
<p><%= @experience.check_work %></p>
