<p><%= link_to t(:return).capitalize, courses_path %></p>

<h5><%= t(:data_add).capitalize %></h5>

<p><%= @course.name_course %></p>
<p><%= @course.description_course %></p>
<p><%= @course.institution_course %></p>
<p><%= @course.time_course %></p>
<p><%= @course.conclusion_course %></p>
<p><%= @course.start_course %></p>
<p><%= @course.end_course %></p>
