<p><%= link_to t(:return).capitalize, academic_infos_path %></p>

<h5><%= t(:data_add).capitalize %></h5>

<p><%= @academic_info.name_academic %></p>
<p><%= @academic_info.institution_academic %></p>
<p><%= @academic_info.start_date %></p>
<p><%= @academic_info.end_date %></p>
<p><%= @academic_info.conclusion_academic %></p>
<p><%= @academic_info.description_academic %></p>